<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>데이터 삽입</title>
</head>
<body>
	<form method="post" enctype="multipart/form-data">
		아이템 아이디:<input type="text" name="itemid" value="1" readonly="readonly" /><br/>
		아이템 이름<input type="text" name="itemname" value="사과" /><br/>
		아이템 가격<input type="text" name="price" value="1500"/><br/>
		설명<input type="text" name="description" value="비타민 C가 풍부"/><br/>
		새로운 이미지<input type="file" name="pictureurl" /><br />
		이전 이미지<input type="text" name="oldpictureurl" value='apple.png' readonly="readonly"/><br/>
		<input type="submit" value="수정">
	</form>
</body>
</html>